@import "../base/vars";

.main-clases {
    height: 125vh;
    margin-top: 70px;

    h1 {
        font-size: 60px;
        text-align: center;
        color: $main-color-tree;
        text-shadow: 2px 2px 4px #000000;
        font-family: "Lora", serif;
    }
}

.empieza-tu-viaje {
    text-align: center;
    margin-top: 50px;
}

.videos-clases {
    height: 400px;
    .up {
        display: flex;
        margin-top: 75px;
        justify-content: space-evenly;
    }
    .down {
        display: flex;
        margin-top: 75px;
        justify-content: space-evenly;
    }
}


.clase-clase {
    border-radius: 300px;
}