@import "../base/vars";
@import "../componets/logo";
@import "../componets/button";

#main-nosotros {
    min-height: 100vh;
    text-align: center;
    margin-top: 70px;
    @media screen and (max-width: 600px) {
        min-height: unset;
        margin-top: 0px;
        
    }

    .datos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        color: $main-text-color;
        font-family: "lora", serif;
        font-size: larger;
    }
    h1 {
    font-family: "Lora", serif;
    color: $main-color-tree;
    text-shadow: 2px 2px 4px #000000;
    font-size: 60px;
    margin-bottom: 30px;
    @media screen and (max-width: 600px) {
        font-size: 36px;
    }
}
    input,
textarea {
    background-color: $main-color;
    color: $main-text-color;
    border: 1px solid $main-color-tree;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
    font-size: 1rem;
    box-sizing: border-box;
}
}

