@import "../base/vars";
@import "../componets/logo";
@import "../componets/button";

#main-nosotros {
    height: 150vh;
    text-align: center;
    margin-top: 70px;
    @media screen and (max-width: 600px) {
        height: 150vh;
        
    }

    .datos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        color: $main-text-color;
        font-family: "lora", serif;
        font-size: larger;
    }
    h1 {
        font-family: "lora", serif;
        color: $main-color-tree;
        text-shadow: 2px 2px 4px #000000;
        font-size: 60px;
    }
    input {
        background-color: $main-color;
    }
    textarea {
        background-color: $main-color;
    }
}

