@import "../base/vars";

.main-ebooks {
    height: 100vh;

    h1 {
        margin-top: 70px;
        text-align: center;
        font-family: "Lora", serif;
        margin-bottom: 100px;
        color: $main-color-tree;
        text-shadow: 2px 2px 4px #000000;
        font-size: 60px;
    }

    p {
        text-align: center;
        align-items: center;
        margin: 0 50px;
    }
}

.footer-ebooks {
    margin-bottom: 0;
}
