@import "../base/vars";

.main-sobre-el-yoga {
    height: 100vh;
    @media screen and (max-width: 600px) {
        height: 110vh;
        margin-top: 0;
        
        
    }

    h1 {
        margin-top: 70px;
        text-align: center;
        font-family: "Lora", serif;
        margin-bottom: 100px;
        color: $main-color-tree;
        text-shadow: 2px 2px 4px #000000;
        font-size: 60px;
        @media screen and (max-width: 600px) {
            margin-top: 0;

        }
    }

    p {
        text-align: center;
        margin: 0 50px;
    }
}

.logo {
    border-radius: 300px;
}