:root {
  --main-color: #f5ede0;
  --main-color-secundary: #acd8aa;
  --main-text-color: #4a4a4a;
  --main-text-light: #fbfaff;
  --main-color-tree: #cbaacb;
  --main-text-: #f48498;
  --mismo-color-del-logo-: #f8e5de;
}

/****Globales****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--main-color);
}

h1 {
  font-family: "Lora", serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: var(--main-color-tree);
}

a {
  text-decoration: none;
  color: var(--main-text-light);
}

ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 1rem;
}

/****LAYOUT****/
/*Header*/

#header {
  display: flex;
  background-color: #0000005b;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
}

/**Nav**/

#header nav ul {
  list-style: none;
  display: flex;
}

#header nav ul li {
  margin: 0px 10px;
  text-shadow: 2px 2px 4px #000000;
}

/***Main***/

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  background-image: url(../img/FOTO\ WANDA3.JPG);
  background-position: center;
  background-size: cover;
}

#banner h1 {
  font-size: 60px;
  margin-top: 70px;
  font-family: "Lora", serif;
  color: var(--main-color-tree);
  text-shadow: 2px 2px 4px #000000;
}

#banner h2 {
  font-family: "Montserrat", sans-serif;
  color: var(--main-color-tree);
  text-shadow: 2px 2px 4px #000000;
}

#banner p {
  width: 600px;
  max-width: 1500px;
  min-width: 500px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  color: var(--main-text-light);
  text-shadow: 2px 2px 4px #000000;
}

.bannerUp {
  text-align: center;
}

.bannerDown {
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.subClases {
  text-align: center;
  margin-top: 20px;
}

.subClases h2 {
  color: var(--main-text-color);
  font-family: "Lora", serif;
  font-size: 60px;
  margin-top: 50px;
}

.clases-grabadas {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin: 30px 30px;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-color);
}

.clases1 {
  margin-top: 20px;
}

.clases-vivo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin: 30px 30px;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-color);
}

.clases2 {
  margin-top: 20px;
}

#clases {
  display: flex;
  justify-content: space-around;
}

img .imagen {
  width: 40%;
}

.comentarios {
  text-align: center;
  color: var(--main-text-color);
  font-family: "Lora", serif;
  margin-top: 60px;
}

.comentarios h2 {
  font-family: "Lora", serif;
  font-size: 60px;
  color: var(--main-text-color);
}

.comentarios .articulos img {
  border-radius: 10px;
}

.descripcion {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 500px;
  margin: auto;
  margin-top: 30px;
}

.articulos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-wrap: wrap; /*Bajan cuando no tienen mas espacio, pero no tiene sentido con unidades relativas*/
}

/***footer***/

footer {
  background-color: var(--main-text-color);
  bottom: 0px;
  height: 220px;
  text-align: left;
  color: var(--main-text-light);
}

footer {
  text-align: left;
  padding: 15px;
}

footer ul {
  margin-top: 15;
}

footer ul li {
  margin-top: 15px;
}

/****Pagina Clases****/

.header-clases {
  display: flex;
  justify-content: space-between;
}

.main-clases {
  height: 125vh;
  margin-top: 70px;
}

.main-clases h1 {
  font-size: 60px;
  text-align: center;
  color: var(--main-color-tree);
  text-shadow: 2px 2px 4px #000000;
  font-family: "Lora", serif;
}

.empieza-tu-viaje {
  text-align: center;
  margin-top: 50px;
}

.videos-clases {
  height: 400px;
}

.videos-clases .up {
  display: flex;
  margin-top: 75px;
  justify-content: space-evenly;
}

.videos-clases .down {
  display: flex;
  margin-top: 75px;
  justify-content: space-evenly;
}

.clase-clase {
  border-radius: 300px;
}

/****Pagina Talleres****/
/*Main*/

#talleres {
  height: 80vh;
  margin-top: 70px;
}

#talleres h1 {
  text-align: center;
  font-family: "Lora", serif;
  margin-bottom: 100px;
  color: var(--main-color-tree);
  text-shadow: 2px 2px 4px #000000;
  font-size: 60px;
}

#talleres div ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px;
}

#talleres div ul li {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#talleres div ul li a {
  list-style: none;
  color: #000000;
  font-family: "Lora", serif;
  font-size: larger;
  text-shadow: 2px 2px 4px #000000;
}

/****Pagina Contacta con nosotros****/

#main-nosotros {
  height: 70vh;
  text-align: center;
  margin-top: 70px;
}

#main-nosotros .datos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  color: var(--main-text-color);
  font-family: "lora", serif;
  font-size: larger;
}

#main-nosotros h1 {
  font-family: "lora", serif;
  color: var(--main-color-tree);
  text-shadow: 2px 2px 4px #000000;
  font-size: 60px;
}

#main-nosotros input {
  background-color: var(--main-color);
}

#main-nosotros textarea {
  background-color: var(--main-color);
}


/****Pagina Meditacion****/

.main-meditacion {
  height: 100vh;
}

.main-meditacion h1 {
  margin-top: 70px;
  text-align: center;
  font-family: "Lora", serif;
  margin-bottom: 100px;
  color: var(--main-color-tree);
  text-shadow: 2px 2px 4px #000000;
  font-size: 60px;
}

.main-meditacion div {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.footer-meditacion {
  margin-bottom: 0;
}

/*Pagina Ebooks*/
.main-ebooks {
  height: 100vh;
}
.main-ebooks h1 {
  margin-top: 70px;
  text-align: center;
  font-family: "Lora", serif;
  margin-bottom: 100px;
  color: var(--main-color-tree);
  text-shadow: 2px 2px 4px #000000;
  font-size: 60px;
}
.main-ebooks p {
  text-align: center;
  align-items: center;
  margin: 0 50px;
  
}

.footer-ebooks {
  margin-bottom: 0;
}

/***Pagina Sobre el Yoga***/

.main-sobre-el-yoga {
  height: 100vh;
}

.main-sobre-el-yoga h1 {
  margin-top: 70px;
  text-align: center;
  font-family: "Lora", serif;
  margin-bottom: 100px;
  color: var(--main-color-tree);
  text-shadow: 2px 2px 4px #000000;
  font-size: 60px;
}

.main-sobre-el-yoga p {
  text-align: center;
  margin: 0 50px;
}

/*Componentes*/
.boton {
  background-color: #d87c5f;
  color: #000000;
  border-radius: 8px;
  height: 30px;
  padding: 5px 10px;
}

.clases-boton {
  background-color: var(--main-text-color);
  color: var(--main-color);
  margin-top: 5px;
  border-radius: 8px;
  padding: 5px;
}

.logo {
  border-radius: 300px;
}

.contacta-con-nosotros img {
  display: flex;
  position: fixed;
  bottom: 10px;
  right: 10px;
  list-style: none;
  border-radius: 300px;
}

.boton:hover {
  background-color: #f5f1f1;
}

#boton-enviar {
  background-color: var(--main-text-color);
  color: var(--main-color);
  padding: 8px;
  border-radius: 8px;
}

.contacta-con-nosotros img:hover {
  width: 60px;
}

/*Responsive*/
@media screen and (max-width: 600px) {

  #banner {
    background-color: var(--main-color);
    background-image: none;
    height: auto;
  }

  #banner .bannerDown {
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
  }

  #banner .bannerDown p {
    display: none;
  }

  #banner h2 {
    margin-bottom: 50px;
  }


  #header {
    height: 200px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
  }

  #header ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #header .boton {
    text-align: center;
    padding: 5px;
  }

  main {
    margin-top: 150px;
  }

  .bannerDown .boton {
    text-align: center;
    white-space: nowrap;
  }

  .main-clases {
    margin-top: 200px;
    height: 150vh;
  }

  #talleres {
    margin-top: 200px;
  }

  #main-nosotros {
    margin-top: 200px;
    height: 130vh;
  }

  .main-meditacion {
    margin-top: 200px;
  }

  .main-ebooks {
    margin-top: 200px;
  }

  .main-sobre-el-yoga {
    margin-top: 200px;
  }
}
