@import "../base/_vars.scss";

footer {
    background-color: $main-text-color;
    bottom: 0px;
    height: auto;
    text-align: left;
    color: $main-text-light;
    text-align: left;
    padding: 15px;

    @media screen and (max-width:510px) {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
    span {
        margin-left: 15px;
        
    }

    

    ul {
        margin-top: 15;
        margin-bottom: 0;
    div {
        display: flex;
        justify-content: center;
        i {
            margin: 5px 10px;
            
        }}

        li {
            display: flex;
            align-items: center;
            margin: 15px;

            iframe {
                margin: 0px;
                @media screen and (max-width:510px) {
                    display: none;
                    
                    
                }
            }
            i {
                margin-right: 10px;
            }
            
        }
    }
}
