@import "../base/vars";

.navbar {
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: rgba(18, 18, 18, 0.283) !important;
    
    a {
        color: $main-text-color;
        font-family: "Montserrat", sans-serif;;
    }
}
